@font-face{
  src: url(fonts/Pacifico-Regular.ttf);
  font-family: Pacifico;
}

* {
    font-family: "Times New Roman", sans-serif;
}

body{
    margin: 0px;
}

main{
    margin: 20px;
}

h1{
    color: darkblue;
    text-align: center;
    font-family: 'Pacifico';
}
h2{
  font-family: 'Pacifico';
}

div.botao {
  background: white;
  border-style: outset;
  border-width: 1px;
  border-color: black;
  border-radius: 8px; 
  color: white;
  text-align: center;
  width: 647px; 
  color: black;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  margin: 4px 2px;
  cursor: default;
  color: darkblue;
  font-family: 'Pacifico';
}

div.botao:hover{
  border-style: outset;
  box-shadow: none;
  background: rgb(238, 238, 238);
}

.column2 {
  float: left;
  width: 50%;
}
.column {
  float: left;
}

.row {
  display: none;
}
footer .row {
  display: table;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.quiz{
  padding: 0px; 
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.7);
  position: auto;
}

footer {
  padding: 7px;
  background-color: rgb(238, 238, 238);
  color: black;
}
