@font-face{
  src: url(Pacifico-Regular.ttf);
  font-family: Pacifico;
}

:root {
  --ident: 30px;
}

* {
    font-family: "Times New Roman", sans-serif;
}

body{
    margin: 0px;
}

main{
    margin: 20px;
}

h1{
    color: darkblue;
    text-align: center;
    font-family: 'Pacifico';
}
h2{
  font-family: 'Pacifico';
}

div.botao {
  background: rgb(195, 235, 247);
  border-style: outset;
  border-width: 1px;
  border-color: black;
  border-radius: 8px; 
  color: white;
  text-align: center;
  width: calc(647px - var(--ident)); 
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  margin: 4px 2px;
  cursor: default;
  color: darkblue;
  font-family: 'Pacifico';
}

div.inclose {
  padding-left: var(--ident);
}

#rmbtn{
  cursor: default;
  background: none;
  color: black;
  width: 180px;
  font-size: 1.2em;
}
#rmbtn:hover{
  color: grey;
}

div.botao:hover{
  border-style: outset;
  box-shadow: none;
  background: #f1ffff;
}

.column2 {
  float: left;
  width: calc(50% - var(--ident));
}
.column {
  float: left;
}
img.quiz:hover{
  cursor: url("download.png"), default;
}

.row {
  display: none;
}

footer .row {
  display: table;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.quiz{
  padding: 0px; 
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.7);
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

footer {
  padding: 7px;
  background-color: rgb(238, 238, 238);
  color: black;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(90, 90, 90);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}